.home-section {
  position: absolute;
  inset: 0;
  top: 5%;
  background-image: url("../../assets/Waves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: scroll;
  z-index: 0;
  pointer-events: none;
}


.home-section-mobile {
  position: absolute;
  inset: 0;
  background-image: url("../../assets/BackgroundPhone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 80px;
  z-index: 0;
  pointer-events: none;
}

.dark .home-section-mobile {
  background-image: url("../../assets/DarkBackgroundPhone.svg");
}
