@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-softBlue: #77A9EE;
  --color-textColor: #235AC7;
  --color-softPurple: #B8AEE0;
  --color-mistGray: #F4F6F8;
  --color-cloudWhite: #FFFFFF;
  --color-shadowGray: #D9E0EC; 
  --color-softLavender: #C5B4E3;
  --color-softBlack: #262626;
  --color-darkSurface: #2e2e2e;
  --color-darkOverlay: #303030;
  --color-darkBorder: #3a3a3a;
}
.dark {
  background-color: #262626;
  transition: all 0.2s ease-in-out;
}

.julius-sans {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}